openapi: 3.0.0

info:
  title: DigitalOcean API
  version: '2.0'
  description: >
    The DigitalOcean API allows you to manage Droplets and resources within the
    DigitalOcean cloud in a simple, programmatic way using conventional HTTP requests.
  license:
    name: Apache 2.0
    url: 'https://www.apache.org/licenses/LICENSE-2.0.html'
  contact:
    name: DigitalOcean API Team
    email: api-engineering@digitalocean.com
  termsOfService: 'https://www.digitalocean.com/legal/terms-of-service-agreement/'

servers:
  - url: 'https://api.digitalocean.com/v2'
    description: production

tags:
  - name: 1-Click Applications
    description: >
      1-Click applications are pre-built Droplet images or Kubernetes apps with software,
      features, and configuration details already set up for you. They can be found in the
      [DigitalOcean Marketplace](https://www.digitalocean.com/docs/marketplace).

  - name: Account
    description: Provides information about your current account.

  - name: Actions
    description: >
      Actions are records of events that have occurred on the resources in your account.
      These can be things like rebooting a Droplet, or transferring an image to a new region.


      An action object is created every time one of these actions is initiated. The action
      object contains information about the current status of the action, start and complete
      timestamps, and the associated resource type and ID.


      Every action that creates an action object is available through this endpoint. Completed
      actions are not removed from this list and are always available for querying.

  - name: Balance
    description: >-
      By sending requests to the `/v2/customers/my/balance` endpoint, you can
      retrieve the balance information for the requested customer account.

  - name: Billing History
    description: |
      Billing history is a record of billing events for your account.
      For example, entries may include events like payments made, invoices
      issued, or credits granted.

      To interact with the billing history for an account, you will generally
      send requests to the billing history endpoint at
      `/v2/customers/my/billing_history`.

  - name: Block Storage
    description: |
      [DigitalOcean Block Storage Volumes](https://www.digitalocean.com/docs/volumes/)
      provide expanded storage capacity for your Droplets and can be moved
      between Droplets within a specific region.
      Volumes function as raw block devices, meaning they appear to the
      operating system as locally attached storage which can be formatted using
      any file system supported by the OS. They may be created in sizes from
      1GiB to 16TiB.

      By sending requests to the /v2/volumes endpoint, you can list, create, or
      delete volumes as well as attach and detach them from Droplets

  - name: Block Storage Actions
    description: |
      Block storage actions are commands that can be given to a DigitalOcean
      Block Storage Volume. An example would be detaching or attaching a volume
      from a Droplet. These requests are made on the
      `/v2/volumes/$VOLUME_ID/actions` endpoint.

      An action object is returned. These objects hold the current status of the
      requested action.

  - name: CDN Endpoints
    description: |
      Content hosted in DigitalOcean's object storage solution,
      [Spaces](https://www.digitalocean.com/docs/spaces/overview/),
      can optionally be served by our globally distributed Content Delivery
      Network (CDN). By sending requests to `/v2/cdn/endpoints`, you can list,
      create, or delete CDN Endpoints as well as purge cached content. To use a
      custom subdomain to access the CDN Endpoint, provide the ID of a
      DigitalOcean managed TLS certificate and the fully qualified domain name
      for the custom subdomain.

  - name: Certificates
    description: |
      In order to perform SSL termination on load balancers, DigitalOcean offers
      two types of [SSL certificate management](https://www.digitalocean.com/docs/accounts/security/#certificates):

      * **Custom**: User-generated certificates may be uploaded to DigitalOcean
      where they will be placed in a fully encrypted and isolated storage system.

      * **Let's Encrypt**: Certificates may be automatically generated by
      DigitalOcean utilizing an integration with Let's Encrypt, the free and
      open certificate authority. These certificates will also be automatically
      renewed as required.

  - name: Container Registry
    description: |
      DigitalOcean offers the ability for you to create a
      [private container registry](https://www.digitalocean.com/docs/images/container-registry/quickstart/)
      to store your Docker images for use with your Kubernetes clusters. This
      container registry runs inside the same datacenters as your cluster,
      ensuring reliable and performant rollout of image deployments.

      You can only create one registry per DigitalOcean account, but you can use
      that registry to create as many repositories as you wish.

  - name: Domain Records
    description: |
      Domain record resources are used to set or retrieve information about the
      individual DNS records configured for a domain. This allows you to build
      and manage DNS zone files by adding and modifying individual records for a
      domain.

      The [DigitalOcean DNS management interface](https://www.digitalocean.com/docs/networking/dns/)
      allows you to configure the following DNS records:

      Name  | Description                                                                                                                                        | Description                                                                                                                                                                                                                                                                                                                                                                 | Required
      ------|----------------------------------------------------------------------------------------------------------------------------------------------------|-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------|---------------------------------------
      A     | This record type is used to map an IPv4 address to a hostname.                                                                                     | The record type (A, MX, CNAME, etc).                                                                                                                                                                                                                                                                                                                                        | All Records
      AAAA  | This record type is used to map an IPv6 address to a hostname.                                                                                     | The host name, alias, or service being defined by the record.                                                                                                                                                                                                                                                                                                               | A, AAAA, CAA, CNAME, TXT, SRV
      CAA   | As specified in RFC-6844, this record type can be used to restrict which certificate authorities are permitted to issue certificates for a domain. | Variable data depending on record type. For example, the "data" value for an A record would be the IPv4 address to which the domain will be mapped. For a CAA record, it would contain the domain name of the CA being granted permission to issue certificates.                                                                                                            | A, AAAA, CAA, CNAME, MX, TXT, SRV, NS
      CNAME | This record type defines an alias for your canonical hostname (the one defined by an A or AAAA record).                                            | The priority of the host (for SRV and MX records. null otherwise).                                                                                                                                                                                                                                                                                                          | MX, SRV
      MX    | This record type is used to define the mail exchanges used for the domain.                                                                         | The port that the service is accessible on (for SRV records only. null otherwise).                                                                                                                                                                                                                                                                                          | SRV
      NS    | This record type defines the name servers that are used for this zone.                                                                             | This value is the time to live for the record, in seconds. This defines the time frame that clients can cache queried information before a refresh should be requested. There is a minimum ttl value of 30, unless it is not set. If not set, the default value is the value of the SOA record. For SOA records, defines the time to live for purposes of negative caching. | SOA
      TXT   | This record type is used to associate a string of text with a hostname, primarily used for verification.                                           | The weight of records with the same priority (for SRV records only. null otherwise).                                                                                                                                                                                                                                                                                        | SRV
      SRV   | This record type specifies the location (hostname and port number) of servers for specific services.                                               | An unsigned integer between 0-255 used for CAA records.                                                                                                                                                                                                                                                                                                                     | CAA
      SOA   | This record type defines administrative information about the zone. Can only have ttl changed, cannot be deleted                                   | The parameter tag for CAA records. Valid values are "issue", "issuewild", or "iodef"                                                                                                                                                                                                                                                                                        | CAA

  - name: Domains
    description: |
      Domain resources are domain names that you have purchased from a domain
      name registrar that you are managing through the
      [DigitalOcean DNS interface](https://www.digitalocean.com/docs/networking/dns/).

      This resource establishes top-level control over each domain. Actions that
      affect individual domain records should be taken on the
      [Domain Records](#tag/Domain-Records) resource.

  - name: Droplet Actions
    description: |
      Droplet actions are tasks that can be executed on a Droplet. These can be
      things like rebooting, resizing, snapshotting, etc.

      Droplet action requests are generally targeted at one of the "actions"
      endpoints for a specific Droplet. The specific actions are usually
      initiated by sending a POST request with the action and arguments as
      parameters.

      Droplet action requests create a Droplet actions object, which can be used
      to get information about the status of an action. Creating a Droplet
      action is asynchronous: the HTTP call will return the action object before
      the action has finished processing on the Droplet. The current status of
      an action can be retrieved from either the Droplet actions endpoint or the
      global actions endpoint. If a Droplet action is uncompleted it may block
      the creation of a subsequent action for that Droplet, the locked attribute
      of the Droplet will be true and attempts to create a Droplet action will
      fail with a status of 422.

  - name: Droplets
    description: |
      A [Droplet](https://www.digitalocean.com/docs/droplets/) is a DigitalOcean
      virtual machine. By sending requests to the Droplet endpoint, you can
      list, create, or delete Droplets.

      Some of the attributes will have an object value. The `region` and `image`
      objects will all contain the standard attributes of their associated
      types. Find more information about each of these objects in their
      respective sections.

  - name: Images
    description: |
      A DigitalOcean [image](https://www.digitalocean.com/docs/images/) can be used to create a Droplet and may come in a number of flavors. Currently, there are five types of images: snapshots, backups, applications, distributions, and custom images.

      * [Snapshots](https://www.digitalocean.com/docs/images/snapshots/) provide a full copy of an existing Droplet instance taken on demand.
      * [Backups](https://www.digitalocean.com/docs/images/backups/) are similar to snapshots but are created automatically at regular intervals when enabled for a Droplet.
      * [Custom images](https://www.digitalocean.com/docs/images/custom-images/) are Linux-based virtual machine images (raw, qcow2, vhdx, vdi, and vmdk formats are supported) that you may upload for use on DigitalOcean.
      * Distributions are the public Linux distributions that are available to be used as a base to create Droplets.
      * Applications, or [1-Click Apps](https://www.digitalocean.com/docs/one-clicks/), are distributions pre-configured with additional software.

      To interact with images, you will generally send requests to the images endpoint at /v2/images.

  - name: Invoices
    description: |
      [Invoices](https://www.digitalocean.com/docs/accounts/billing/invoices/)
      are generated on the first of each month for every DigitalOcean
      customer. An invoice preview is generated daily, which can be accessed
      with the `preview` keyword in place of `$INVOICE_UUID`.

      To interact with invoices, you will generally send requests to the
      invoices endpoint at `/v2/customers/my/invoices`.

  - name: Kubernetes
    description: |
      [DigitalOcean Kubernetes](https://www.digitalocean.com/docs/kubernetes/)
      allows you to quickly deploy scalable and secure Kubernetes clusters. By
      sending requests to the `/v2/kubernetes/clusters` endpoint, you can list,
      create, or delete clusters as well as scale node pools up and down,
      recycle individual nodes, and retrieve the kubeconfig file for use with
      a cluster.

  - name: Load Balancers
    description: |
      [DigitalOcean Load Balancers](https://www.digitalocean.com/docs/networking/load-balancers/)
      provide a way to distribute traffic across multiple Droplets. By sending
      requests to the `/v2/load_balancers` endpoint, you can list, create, or
      delete load balancers as well as add or remove Droplets, forwarding rules,
      and other configuration details.

  - name: Regions
    description: Provides information about DigitalOcean data center regions.

  - name: Sizes
    description: >
      The sizes objects represent different packages of hardware resources that
      can be used for Droplets. When a Droplet is created, a size must be
      selected so that the correct resources can be allocated.


      Each size represents a plan that bundles together specific sets of
      resources. This includes the amount of RAM, the number of virtual CPUs,
      disk space, and transfer. The size object also includes the pricing
      details and the regions that the size is available in.

  - name: Snapshots
    description: |
      [Snapshots](https://www.digitalocean.com/docs/images/snapshots/) are saved
      instances of a Droplet or a block storage volume, which is reflected in
      the `resource_type` attribute. In order to avoid problems with compressing
      filesystems, each defines a `min_disk_size` attribute which is the minimum
      size of the Droplet or volume disk when creating a new resource from the
      saved snapshot.

      To interact with snapshots, you will generally send requests to the
      snapshots endpoint at `/v2/snapshots`.

  - name: SSH Keys
    description: Manage SSH keys available on your account.
  - name: Tags
    description: |
      A tag is a label that can be applied to a resource (currently Droplets, Images, Volumes, Volume Snapshots, and Database clusters)
      in order to better organize or facilitate the lookups and actions on it.

      Tags have two attributes: a user defined `name` attribute and an embedded `resources` attribute with information about resources that have been tagged.

paths:
  /1-clicks:
    get:
      $ref: 'resources/1-clicks/list.yml'

  /1-clicks/kubernetes:
    post:
      $ref: 'resources/1-clicks/install_kubernetes.yml'

  /account:
    get:
      $ref: 'resources/account/get_user_information.yml'

  /account/keys:
    get:
      $ref: 'resources/ssh_keys/list_all_keys.yml'

    post:
      $ref: 'resources/ssh_keys/create_a_new_key.yml'

  /account/keys/{ssh_key_identifier}:
    get:
      $ref: 'resources/ssh_keys/retrieve_an_existing_key.yml'

    patch:
      $ref: 'resources/ssh_keys/update_a_key.yml'

    delete:
      $ref: 'resources/ssh_keys/destroy_a_key.yml'

  /actions:
    get:
      $ref: 'resources/actions/list_all_actions.yml'

  /actions/{action_id}:
    get:
      $ref: 'resources/actions/retrieve_an_existing_action.yml'

  /cdn/endpoints:
    get:
      $ref: 'resources/cdn/list_all_endpoints.yml'

    post:
      $ref: 'resources/cdn/create_endpoint.yml'

  /cdn/endpoints/{cdn_id}:
    get:
      $ref: 'resources/cdn/retrieve_existing_endpoint.yml'

    delete:
      $ref: 'resources/cdn/delete_endpoint.yml'

  /cdn/endpoints/{cdn_id}/cache:
    delete:
      $ref: 'resources/cdn/purge_cdn_cache.yml'

  /certificates:
    get:
      $ref: 'resources/certificates/list_certificates.yml'

    post:
      $ref: 'resources/certificates/create_certificates.yml'

  /certificates/{certificate_id}:
    get:
      $ref: 'resources/certificates/get_certificate.yml'

    delete:
      $ref: 'resources/certificates/delete_certificate.yml'

  /customers/my/balance:
    get:
      $ref: 'resources/billing/get_customer_balance.yml'

  /customers/my/billing_history:
    get:
      $ref: 'resources/billing/list_billing_history.yml'

  /customers/my/invoices:
    get:
      $ref: 'resources/billing/list_invoices.yml'

  /customers/my/invoices/{invoice_uuid}:
    get:
      $ref: 'resources/billing/retrieve_invoice_by_uuid.yml'

  /customers/my/invoices/{invoice_uuid}/csv:
    get:
      $ref: 'resources/billing/retrieve_invoice_csv_by_uuid.yml'

  /customers/my/invoices/{invoice_uuid}/pdf:
    get:
      $ref: 'resources/billing/retrieve_invoice_pdf_by_uuid.yml'

  /customers/my/invoices/{invoice_uuid}/summary:
    get:
      $ref: 'resources/billing/retrieve_invoice_summary_by_uuid.yml'

  /domains:
    get:
      $ref: 'resources/domains/list_all_domains.yml'
    post:
      $ref: 'resources/domains/create_domain.yml'

  /domains/{domain_name}:
    get:
      $ref: 'resources/domains/retrieve_existing_domain.yml'
    delete:
      $ref: 'resources/domains/delete_domain.yml'

  /domains/{domain_name}/records:
    get:
      $ref: 'resources/domains/list_all_domain_records.yml'
    post:
      $ref: 'resources/domains/create_domain_record.yml'

  /domains/{domain_name}/records/{domain_record_id}:
    patch:
      $ref: 'resources/domains/patch_update_domain_record.yml'
    put:
      $ref: 'resources/domains/put_update_domain_record.yml'
    delete:
      $ref: 'resources/domains/delete_domain_record.yml'

  /droplets:
    get:
      $ref: 'resources/droplets/list_all_droplets.yml'

    post:
      $ref: 'resources/droplets/create_droplet.yml'

    delete:
      $ref: 'resources/droplets/destroy_droplets_by_tag.yml'

  /droplets/{droplet_id}:
    get:
      $ref: 'resources/droplets/retrieve_existing_droplet.yml'

    delete:
      $ref: 'resources/droplets/destroy_droplet.yml'

  /droplets/{droplet_id}/backups:
    get:
      $ref: 'resources/droplets/list_droplet_backups.yml'

  /droplets/{droplet_id}/snapshots:
    get:
      $ref: 'resources/droplets/list_droplet_snapshots.yml'

  /droplets/{droplet_id}/actions:
    get:
      $ref: 'resources/droplets/list_droplet_actions.yml'
    post:
      $ref: 'resources/droplets/initiate_droplet_action.yml'

  /droplets/actions:
    post:
      $ref: 'resources/droplets/initiate_droplet_action_by_tag.yml'

  /droplets/{droplet_id}/actions/{action_id}:
    get:
      $ref: 'resources/droplets/retrieve_existing_droplet_action.yml'

  /droplets/{droplet_id}/kernels:
    get:
      $ref: 'resources/droplets/list_droplet_kernels.yml'

  /droplets/{droplet_id}/neighbors:
    get:
      $ref: 'resources/droplets/list_droplet_neighbors.yml'

  /droplets/{droplet_id}/destroy_with_associated_resources:
    get:
      $ref: 'resources/droplets/list_associated_resources.yml'

  /droplets/{droplet_id}/destroy_with_associated_resources/selective:
    delete:
      $ref: 'resources/droplets/destroy_with_associated_resources_selective.yml'

  /droplets/{droplet_id}/destroy_with_associated_resources/dangerous:
    delete:
      $ref: 'resources/droplets/destroy_with_associated_resources_dangerous.yml'

  /droplets/{droplet_id}/destroy_with_associated_resources/status:
    get:
      $ref: 'resources/droplets/destroy_with_associated_resources_status.yml'

  /droplets/{droplet_id}/destroy_with_associated_resources/retry:
    post:
      $ref: 'resources/droplets/destroy_with_associated_resources_retry.yml'

  /images:
    get:
      $ref: 'resources/images/list_images.yml'
    post:
      $ref: 'resources/images/create_custom_image.yml'

  /images/{identifier}:
    get:
      $ref: 'resources/images/retrieve_existing_image.yml'
    put:
      $ref: 'resources/images/update_an_image.yml'
    delete:
      $ref: 'resources/images/delete_an_image.yml'

  /kubernetes/clusters:
    get:
      $ref: 'resources/kubernetes/list_all_clusters.yml'

    post:
      $ref: 'resources/kubernetes/create_cluster.yml'

  /kubernetes/clusters/{cluster_id}:
    get:
      $ref: 'resources/kubernetes/retrieve_existing_cluster.yml'

    put:
      $ref: 'resources/kubernetes/update_cluster.yml'

    delete:
      $ref: 'resources/kubernetes/delete_cluster.yml'

  /kubernetes/clusters/{cluster_id}/kubeconfig:
    get:
      $ref: 'resources/kubernetes/retrieve_kubeconfig.yml'

  /kubernetes/clusters/{cluster_id}/credentials:
    get:
      $ref: 'resources/kubernetes/retrieve_credentials.yml'

  /kubernetes/clusters/{cluster_id}/upgrades:
    get:
      $ref: 'resources/kubernetes/retrieve_available_upgrades.yml'

  /kubernetes/clusters/{cluster_id}/upgrade:
    post:
      $ref: 'resources/kubernetes/upgrade_cluster.yml'

  /kubernetes/clusters/{cluster_id}/node_pools:
    get:
      $ref: 'resources/kubernetes/list_node_pools.yml'

    post:
      $ref: 'resources/kubernetes/add_node_pool.yml'

  /kubernetes/clusters/{cluster_id}/node_pools/{node_pool_id}:
    get:
      $ref: 'resources/kubernetes/retrieve_node_pool.yml'

    put:
      $ref: 'resources/kubernetes/update_node_pool.yml'

    delete:
      $ref: 'resources/kubernetes/delete_node_pool.yml'

  /kubernetes/clusters/{cluster_id}/node_pools/{node_pool_id}/nodes/{node_id}:
    delete:
      $ref: 'resources/kubernetes/delete_node.yml'

  /kubernetes/clusters/{cluster_id}/node_pools/{node_pool_id}/recycle:
    post:
      $ref: 'resources/kubernetes/recycle_node_pool.yml'

  /kubernetes/clusters/{cluster_id}/user:
    get:
      $ref: 'resources/kubernetes/retrieve_cluster_user.yml'

  /kubernetes/options:
    get:
      $ref: 'resources/kubernetes/list_options.yml'

  /kubernetes/clusters/{cluster_id}/clusterlint:
    post:
      $ref: 'resources/kubernetes/run_clusterlint.yml'

    get:
      $ref: 'resources/kubernetes/fetch_clusterlint_results.yml'

  /load_balancers:
    post:
      $ref: 'resources/load_balancers/create_load_balancer.yml'

    get:
      $ref: 'resources/load_balancers/list_all_load_balancers.yml'

  /load_balancers/{lb_id}:
    get:
      $ref: 'resources/load_balancers/retrieve_existing_load_balancer.yml'

    put:
      $ref: 'resources/load_balancers/update_existing_load_balancer.yml'

    delete:
      $ref: 'resources/load_balancers/delete_load_balancer.yml'

  /load_balancers/{lb_id}/droplets:
    post:
      $ref: 'resources/load_balancers/add_droplets.yml'

    delete:
      $ref: 'resources/load_balancers/remove_droplets.yml'

  /load_balancers/{lb_id}/forwarding_rules:
    post:
      $ref: 'resources/load_balancers/add_forwarding_rules.yml'

    delete:
      $ref: 'resources/load_balancers/remove_forwarding_rules.yml'

  /regions:
    get:
      $ref: 'resources/regions/list_all_regions.yml'

  /registry:
    get:
      $ref: 'resources/registry/get_registry.yml'

    post:
      $ref: 'resources/registry/configure_registry.yml'

    delete:
      $ref: 'resources/registry/delete_registry.yml'

  /registry/docker-credentials:
    get:
      $ref: 'resources/registry/get_docker_credentials.yml'

  /registry/validate-name:
    post:
      $ref: 'resources/registry/validate_registry_name.yml'

  /reports/droplet_neighbors_ids:
    get:
      $ref: 'resources/droplets/list_all_droplet_neighbors_ids.yml'

  /sizes:
    get:
      $ref: 'resources/sizes/list_all_sizes.yml'

  /snapshots:
    get:
      $ref: 'resources/snapshots/list_all_snapshots.yml'

  /snapshots/{snapshot_id}:
    get:
      $ref: 'resources/snapshots/retrieve_existing_snapshots.yml'

    delete:
      $ref: 'resources/snapshots/delete_snapshot.yml'

  /tags:
    get:
      $ref: 'resources/tags/list_all_tags.yml'
    post:
      $ref: 'resources/tags/create_new_tag.yml'

  /tags/{tag_id}:
    get:
      $ref: 'resources/tags/get_tag.yml'
    delete:
      $ref: 'resources/tags/delete_tag.yml'

  /tags/{tag_id}/resources:
    post:
      $ref: 'resources/tags/tag_resource.yml'
    delete:
      $ref: 'resources/tags/untag_resource.yml'

  /volumes:
    get:
      $ref: 'resources/volumes/list_all_volumes.yml'
    post:
      $ref: 'resources/volumes/create_new_volume.yml'
    delete:
      $ref: 'resources/volumes/delete_volume_by_name.yml'

  /volumes/actions:
    post:
      $ref: 'resources/volumes/initiate_volume_action_by_name.yml'

  /volumes/snapshot/{snapshot_id}:
    get:
      $ref: 'resources/volumes/retrieve_volume_snapshot_by_id.yml'
    delete:
      $ref: 'resources/volumes/delete_volume_snapshot_by_id.yml'

  /volumes/{volume_id}:
    get:
      $ref: 'resources/volumes/retrieve_existing_volume.yml'
    delete:
      $ref: 'resources/volumes/delete_volume.yml'

  /volumes/{volume_id}/actions:
    get:
      $ref: 'resources/volumes/list_all_volume_actions.yml'
    post:
      $ref: 'resources/volumes/initiate_volume_action_by_id.yml'

  /volumes/{volume_id}/actions/{action_id}:
    get:
      $ref: 'resources/volumes/retrieve_existing_volume_action.yml'

  /volumes/{volume_id}/snapshots:
    get:
      $ref: 'resources/volumes/list_volume_snapshots.yml'
    post:
      $ref: 'resources/volumes/create_volume_snapshot.yml'

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
security:
  - bearerAuth: []
