name: tagged-release
# this workflow occurs on every release
# it uploads the bundled spec as an artifact of the release
on:
  push:
    tags:
      - 'v[1-9].[0-9]+.[0-9]+'

jobs:
  build-release:
    name: Upload Release Asset
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Bundle Spec 
        id: bundle_spec
        run: make bundle
      - name: Create Release
        id: create_release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ github.ref }}
          release_name: Release ${{ github.ref }}
          draft: false
          prerelease: false
      - name: Upload Release Asset
        id: upload-release-asset 
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }} 
          asset_path: tests/openapi-bundled.yaml
          asset_name: openapi-bundled.yaml
          asset_content_type: application/yaml